// Do not add any CSS to this file in the theme sources.
// This file can be overridden to add project-specific CSS.


// .post-title-div {
//   position: -webkit-sticky; /* Safari */
//   position: sticky;
//   top: 0;
//   // background-color: green;
// }


code {
    background-color: $darkest-color;
    padding: 1px 3px;
}

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/***************TABLES*************/

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
  /*       box-shadow: 0 0 20px $primary-color88 */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.65);
}

table, thead tr {
    background-color: $primary-color;
    color: $lightest-color;
    text-align: left;
}

table, thead code {
    background-color: $primary-color;
    color: $lightest-color;
    text-align: left;
}

table code {
    background-color: unset;
}

tr {
    background-color: $dark-color;
    color: $light-color;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

/*    tbody tr {
    border-bottom: 1px solid $primary-color;
}*/

tbody tr:nth-of-type(even) {
    background-color: $darkest-color;
}

tbody tr:last-of-type {
    border-bottom: 2px solid $primary-color;
}
