<div id="comments">
<br/><br/>
{{ if or (.Params.gh_commentid) (.Params.fsfe_commentid) (.Params.tweetid) (.Params.tootid)}}
<h1>Interact</h1>
{{ end }}

{{ if (.Params.tootid) }}
<a href="https://{{ .Site.Author.mastodon_instance }}/@{{ .Site.Author.mastodon_user }}/{{ $.Params.tootid }}" target="_blank">
💬, ❤ or ♺ on Mastodon
</a><br>
{{ end }}

{{ if (.Params.tweetid) }}
<a href="https://twitter.com/{{ .Site.Author.twitter }}/status/{{ $.Params.tweetid }}" target="_blank">
💬, ❤ or ♺ on Twitter
</a><br>
{{ end }}
<br>

{{ if or (.Params.gh_commentid) (.Params.fsfe_commentid) }}
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/hosted-comments.js"></script>
{{ end }}
{{ if (.Params.fsfe_commentid) }}
    <script type="text/javascript" src="/js/showdown.min.js"></script>
{{ end }}


{{ if and (.Site.Params.fsfe_comment_reponame) (.Params.fsfe_commentid) }}
    <h2>Comments (via git.fsfe.org)</h2>
    <div id="fsfe-comments-list"></div>
    <!--only visible with java-script:-->
    <div id="fsfe-load-comments-box" style="display:none">
        <a href="javascript:void(0)" id="fsfe-load-comments">Load comments ⤓</a>
        <br>
    </div>
    <!--only visible with java-script (dynamically added when multiple pages):-->
    <a href="javascript:void(0)" id="fsfe-load-comments-more" class="btn" style="display:none">Load more comments</a>
    <!--fallback if no javascript available:-->
    <div id="fsfe-comments-external-box">
        <a href="https://git.fsfe.org/{{ .Site.Params.fsfe_comment_reponame }}/issues/{{ $.Params.fsfe_commentid }}"
           id="fsfe-comments-external"
           target="_blank">View comments externally</a>
        <br>
    </div>
    <!--always visible-->
    <div id="fsfe-post-comment-box">
        <a href="https://git.fsfe.org/{{ .Site.Params.fsfe_comment_reponame }}/issues/{{ $.Params.fsfe_commentid }}#new_comment_field"
           id="fsfe-post-comment"
           target="_blank">Post comment</a>
        <br>
        <br>
    </div>

    <script type="text/javascript">
        $("#fsfe-load-comments").attr("onclick", "DoHostedComments(\"gitea\"," +
                                                                  "\"git.fsfe.org\"," +
                                                                  "\"" + {{ .Site.Params.fsfe_comment_reponame }} + "\"," +
                                                                  "\"fsfe\", " +
                                                                  {{ $.Params.fsfe_commentid }} + ");");
        // show javascript button
        $("#fsfe-load-comments-box").attr("style", "display:inline");
        // hide non-javascript-button
        $("#fsfe-comments-external-box").attr("style", "display:none");
    </script>
{{ end }}

{{ if and (.Site.Params.gh_comment_reponame) (.Params.gh_commentid) }}
    <h2>Comments (via GitHub)</h2>
    <div id="gh-comments-list"></div>
    <!--only visible with java-script:-->
    <div id="gh-load-comments-box" style="display:none">
        <a href="javascript:void(0)" id="gh-load-comments">Load comments ⤓</a>
        <br>
    </div>
    <!--only visible with java-script (dynamically added when multiple pages):-->
    <a href="javascript:void(0)" id="gh-load-comments-more" class="btn" style="display:none">Load more comments</a>
    <!--fallback if no javascript available:-->
    <div id="gh-comments-external-box">
        <a href="https://github.com/{{ .Site.Params.gh_comment_reponame }}/issues/{{ $.Params.gh_commentid }}"
           id="gh-comments-external"
           target="_blank">View comments externally</a>
        <br>
    </div>
    <!--always visible-->
    <div id="gh-post-comment-box">
        <a href="https://github.com/{{ .Site.Params.gh_comment_reponame }}/issues/{{ $.Params.gh_commentid }}#new_comment_field"
           id="gh-post-comment"
           target="_blank">Post comment</a>
        <br>
    </div>

    <script type="text/javascript">
        $("#gh-load-comments").attr("onclick", "DoHostedComments(\"github\"," +
                                                                "\"github.com\"," +
                                                                "\"" + {{ .Site.Params.gh_comment_reponame }} + "\"," +
                                                                "\"gh\", " +
                                                                {{ $.Params.gh_commentid }} + ");");
        // show javascript button
        $("#gh-load-comments-box").attr("style", "display:inline");
        // hide non-javascript-button
        $("#gh-comments-external-box").attr("style", "display:none");
    </script>
{{ end }}

</div>
