

/*
 *     base03
 *     #002b36
 *     base02
 *     #073642
 *     base01
 *     #586e75
 *     base00
 *     #657b83
 *     base0
 *     #839496
 *     base1
 *     #93a1a1
 *     base2
 *     #eee8d5
 *     base3
 *     #fdf6e3
 *
 *     yellow
 *     #b58900
 *     orange
 *     #cb4b16
 *     red
 *     #dc322f
 *     magenta
 *     #d33682
 *     violet
 *     #6c71c4
 *     blue
 *     #268bd2
 *     cyan
 *     #2aa198
 *     green
 *     #859900
 *
 */

html {
  font-size: 15px;
/*    color: #6c71c4; */
}

/*.hack body {
    color: #6c71c4;
}*/

main {
    color: #93a1a1;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}


img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}


/*li {
    color: #839496;
}*/

a {
border-bottom:0px
}

 /* unvisited link */
a:link, a:visited {
    color: #fff;
    text-decoration: none;
    background-color: none;
}

/* mouse over link */
a:hover, a:active {
  background-color: #000000;
  color: #2aa198;
  border-bottom:1px solid #2aa198;
}

a[itemprop="url"]:hover {
  color: #2aa198;
}

.muted {
/*   color: rgba(255, 255, 255, 0.5); */
/*     color: #002b36 */
    color: #586e75;
    font-size:small
}

/*a:active {
    color: #2aa198
}*/

a[href*="//"]::after {
  /* data uri svg icon. thanks to @Fastidious for the idea */
  content: " " url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%23ffffff'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
}

a[href*="//"]:hover::after {
  /* data uri svg icon. thanks to @Fastidious for the idea */
  content: " " url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%232aa198'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
}

.dark .menu .menu-item.active,.dark .menu .menu-item:hover {
/*    color: #073642;
    border-color: #ccc;*/
}

nav a.active {
  background-color: #000000;
  color: #2aa198;
  border-bottom:1px solid #2aa198;
}

/* don't make tables fill entire width */
table {
    width: unset;
}

.footnotes {
    font-size: x-small
}

.footnotes code {
    font-size: x-small
}

.footnotes strong {
    font-size: x-small
}

/* real code blocks */
/* div.highlight { background-color: #073642  } */
.highlight pre { background-color: #073642  }

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #586e75; font-style: italic } /* Comment */
.highlight .err { color: #dc322f } /* Error */
.highlight .g { color: #839496 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #839496 } /* Literal */
.highlight .n { color: #93a1a1 } /* Name */
.highlight .o { color: #839496 } /* Operator */
.highlight .x { color: #839496 } /* Other */
.highlight .p { color: #839496 } /* Punctuation */
.highlight .ch { color: #586e75; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #586e75; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #586e75; font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: #586e75; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #586e75; font-style: italic } /* Comment.Single */
.highlight .cs { color: #586e75; font-style: italic } /* Comment.Special */
.highlight .gd { color: #839496 } /* Generic.Deleted */
.highlight .ge { color: #839496 } /* Generic.Emph */
.highlight .gr { color: #839496 } /* Generic.Error */
.highlight .gh { color: #839496 } /* Generic.Heading */
.highlight .gi { color: #839496 } /* Generic.Inserted */
.highlight .go { color: #839496 } /* Generic.Output */
.highlight .gp { color: #839496 } /* Generic.Prompt */
.highlight .gs { color: #839496 } /* Generic.Strong */
.highlight .gu { color: #839496 } /* Generic.Subheading */
.highlight .gt { color: #839496 } /* Generic.Traceback */
.highlight .kc { color: #859900 } /* Keyword.Constant */
.highlight .kd { color: #859900 } /* Keyword.Declaration */
.highlight .kn { color: #cb4b16 } /* Keyword.Namespace */
.highlight .kp { color: #cb4b16 } /* Keyword.Pseudo */
.highlight .kr { color: #859900 } /* Keyword.Reserved */
.highlight .kt { color: #859900 } /* Keyword.Type */
.highlight .ld { color: #839496 } /* Literal.Date */
.highlight .m { color: #2aa198 } /* Literal.Number */
.highlight .s { color: #2aa198 } /* Literal.String */
.highlight .na { color: #839496 } /* Name.Attribute */
.highlight .nb { color: #268bd2 } /* Name.Builtin */
.highlight .nc { color: #268bd2 } /* Name.Class */
.highlight .no { color: #b58900 } /* Name.Constant */
.highlight .nd { color: #cb4b16 } /* Name.Decorator */
.highlight .ni { color: #cb4b16 } /* Name.Entity */
.highlight .ne { color: #cb4b16 } /* Name.Exception */
.highlight .nf { color: #268bd2 } /* Name.Function */
.highlight .nl { color: #839496 } /* Name.Label */
.highlight .nn { color: #b58900 } /* Name.Namespace */
.highlight .nx { color: #839496 } /* Name.Other */
.highlight .py { color: #268bd2 } /* Name.Property */
.highlight .nt { color: #859900 } /* Name.Tag */
.highlight .nv { color: #cb4b16 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #002b36 } /* Text.Whitespace */
.highlight .mb { color: #2aa198 } /* Literal.Number.Bin */
.highlight .mf { color: #2aa198 } /* Literal.Number.Float */
.highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlight .sa { color: #2aa198 } /* Literal.String.Affix */
.highlight .sb { color: #2aa198 } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 } /* Literal.String.Char */
.highlight .dl { color: #2aa198 } /* Literal.String.Delimiter */
.highlight .sd { color: #2aa198 } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: #2aa198 } /* Literal.String.Heredoc */
.highlight .si { color: #cb4b16 } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 } /* Literal.String.Other */
.highlight .sr { color: #2aa198 } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight .bp { color: #268bd2; font-weight: bold } /* Name.Builtin.Pseudo */
.highlight .fm { color: #268bd2 } /* Name.Function.Magic */
.highlight .vc { color: #268bd2 } /* Name.Variable.Class */
.highlight .vg { color: #268bd2 } /* Name.Variable.Global */
.highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlight .vm { color: #cb4b16 } /* Name.Variable.Magic */
.highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */

/* regular pre */
.hack pre
{
/*     color: #000000; */
    background-color: #073642;
}

